@page
@model T5_PR1.Pages.EnergyIndicatorModel
@{
    ViewData["Title"] = "Indicador energetic";
    string prevDisabled = Model.PageNumber <= 1 ? "disabled" : "";
    string nextDisabled = Model.PageNumber >= Model.TotalPages ? "disabled" : "";
}
<h1>@ViewData["Title"]</h1>

<br />
<h2>Resum consum realitzats</h2>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CurrentPageEnergeticIndicators.FirstOrDefault().Id)</th>
            <th>@Html.DisplayNameFor(model => model.CurrentPageEnergeticIndicators.FirstOrDefault().Any)</th>
            <th>@Html.DisplayNameFor(model => model.CurrentPageEnergeticIndicators.FirstOrDefault().ProduccioNeta)</th>
            <th>@Html.DisplayNameFor(model => model.CurrentPageEnergeticIndicators.FirstOrDefault().ConsumGasolina)</th>
            <th>@Html.DisplayNameFor(model => model.CurrentPageEnergeticIndicators.FirstOrDefault().DemandaElectrica)</th>
            <th>@Html.DisplayNameFor(model => model.CurrentPageEnergeticIndicators.FirstOrDefault().ProduccioDisponible)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CurrentPageEnergeticIndicators)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Any)</td>
                <td>@Html.DisplayFor(modelItem => item.ProduccioNeta)</td>
                <td>@Html.DisplayFor(modelItem => item.ConsumGasolina)</td>
                <td>@Html.DisplayFor(modelItem => item.DemandaElectrica)</td>
                <td>@Html.DisplayFor(modelItem => item.ProduccioDisponible)</td>
                <td>
                    <a asp-page="./UpdateEnergyIndicator" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <a asp-page="./EnergyIndicator" asp-route-pageNumber="@(Model.PageNumber - 1)"
       class="btn btn-primary @prevDisabled">
        Anterior
    </a>

    <span>Pàgina @Model.PageNumber de @Model.TotalPages </span>

    <a asp-page="./EnergyIndicator" asp-route-pageNumber="@(Model.PageNumber + 1)"
       class="btn btn-primary @nextDisabled">
        Següent
    </a>
</div>
<br />
<a asp-page="./AddEnergyIndicator" class="btn btn-primary">Afegir</a>

