@page
@model T5_PR1.Pages.WaterConsumptionModel
@{
	ViewData["Title"] = "Consum d'aigua";
    string prevDisabled = Model.PageNumber <= 1 ? "disabled" : "";
    string nextDisabled = Model.PageNumber >= Model.TotalPages ? "disabled" : "";
}

<h1>@ViewData["Title"]</h1>

<br />

<h2>Resum consum realitzats</h2>

@if (Model.HeaderRow != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.HeaderRow.Id)</th>
                <th>@Html.DisplayNameFor(model => model.HeaderRow.Comarca)</th>
                <th>@Html.DisplayNameFor(model => model.HeaderRow.Municipi)</th>
                <th>@Html.DisplayNameFor(model => model.HeaderRow.Consum)</th>
                <th>@Html.DisplayNameFor(model => model.HeaderRow.Any)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CurrentPageWaterConsumptions)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.Comarca)</td>
                    <td>@Html.DisplayFor(modelItem => item.Municipi)</td>
                    <td>@Html.DisplayFor(modelItem => item.Consum)</td>
                    <td>@Html.DisplayFor(modelItem => item.Any)</td>
                    <td>
                        <a asp-page="./UpdateWaterConsumption" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No hi ha dades disponibles.</p>
}

<div class="pagination">
    <a asp-page="./WaterConsumption" asp-route-pageNumber="@(Model.PageNumber - 1)"
       class="btn btn-primary @prevDisabled">
        Anterior
    </a>

    <span>Pàgina @Model.PageNumber de @Model.TotalPages</span>

    <a asp-page="./WaterConsumption" asp-route-pageNumber="@(Model.PageNumber + 1)"
       class="btn btn-primary @nextDisabled">
        Següent
    </a>
</div>
<br />
<a asp-page="./AddWaterConsumption" class="btn btn-primary">Afegir</a>
